# Node modules
node_modules/

# Next.js build output
.next/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Optional lock files
package-lock.json

